[submodule "plugins/ipynb"]
	path = plugins/ipynb
	url = git@github.com:kamyanskiy/pelican-ipynb.git
[submodule "pelican-plugins"]
	path = pelican-plugins
	url = git@github.com:getpelican/pelican-plugins.git
